



     <hr>


      <footer class="footer-area footer-light bg-custom" >
        <div class="footer-md">
          <!-- start .container -->
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-12">
                <div class="footer-widget">
                  <div class="widget-about">
                    <img src="assets/logo1.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-4">
                <div class="footer-widget">
                  <div class="footer-menu footer-menu--1">
                    <h4 class="footer-widget-title">Category</h4>
                    <ul>
                      <li>
                        <a href="#">Men's Ware</a>
                      </li>
                      <li>
                        <a href="#">Women's Ware</a>
                      </li>
                      <li>
                        <a href="#">Men's Accessories</a>
                      </li>
                      <li>
                        <a href="#">Wpmen's Accessories</a>
                      </li>
                    </ul>
                </div>
                </div>
              </div>
      
              <div class="col-md-3 col-sm-4">
                <div class="footer-widget">
                  <div class="footer-menu">
                    <h4 class="footer-widget-title">Our Company</h4>
                    <ul>
                      <li>
                        <a href="#">About Us</a>
                      </li>
                      <li>
                        <a href="#">Testimonials</a>
                      </li>
                      <li>
                        <a href="#">Contact Us</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              
      
              <div class="col-md-3 col-sm-4">
                <div class="footer-widget">
                  <div class="footer-menu no-padding">
                    <h4 class="footer-widget-title">Help Support</h4>
                    <ul>
                      <li>
                        <a href="#">Support Forum</a>
                      </li>
                      <li>
                        <a href="#">Terms &amp; Conditions</a>
                      </li>
                      <li>
                        <a href="#">Refund Policy</a>
                      </li>
                      <li>
                        <a href="#">FAQs</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
      
            </div>
            
          </div>
        </div>
      
        <div class="mini-footer social">
          <div class="text-center ">
            <a class="btn btn-social-icon btn-lg btn-facebook" href="#"><i class="fa fa-facebook "></i></a>
            <a class="btn btn-social-icon btn-lg btn-teitter" href="#"><i class="fa fa-twitter "></i></a>
            <a class="btn btn-social-icon btn-lg btn-instagram" href="#"><i class="fa fa-instagram "></i></a>
            <a class="btn btn-social-icon btn-lg btn-google-plus" href="#"><i class="fa fa-google-plus "></i></a>
        </div>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="copyright-text">
                  <p>© 2020
                    <a href="#">#HashTagFashion</a>. All rights reserved. 
                  </p>
                </div>
      
              </div>
            </div>
          </div>
          
        </div>
      </footer>